.avatar-container {
    border-radius: 50%;
    border: 8px solid rgb(148, 148, 172);
    width: 15rem;
    height: 15rem;
    box-shadow: 0px 0px 8px 4px rgb(255, 255, 255);
    margin: 2rem;
    right: -2rem;
    position: relative;
    // right: 2rem;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    // border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    overflow-y: auto;
    border: 2px solid whitesmoke;
    // box-shadow: 4px 4px 2px 1px whitesmoke;

  }

  .flip-card-inner > .flip-card-back {
    text-align: start;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(0, 50, 100);
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-image {
    // width: 90%;
    // height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }


//   .cards-container > div {
//     // margin: 4px;

//   }

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #header-container {
    position: relative;
    left: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-family: 'Custom 1';
  }

  .title {
    font-size: 6rem;
    margin: 1rem;
  }
  .subtitle {
    font-size: 5rem;
    margin: 2rem;
  }
  .sub-detail {
    font-size: 3rem;
    margin: 2rem;
  }

  a:visited {
    color: white;
  }

  a {
    margin-left: 2rem;
    color: white;
  }

  a:hover {
    color: blue;
  }


  @keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  mat-card {
    animation: fadein 350ms;
  }

  .parent-container {
    background-image: url('../../assets/backdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    // font-family: url('../../assets//lt_sonoma/LT\ Sonoma\ 2\ \(1\).otf');
    // font-family: custom2;
    // font-size: xx-large;
 
  }

//   @font-face {
//     font-family: 'custom1';
//     src: url('./assets/lt_sonoma/LTSonoma2.otf');
// }

// @font-face {
//     font-family: 'custom2';
//     src: url('../../assets/rolling_stright/Rolling Stright.otf');
// }