<div class="parent-container" style="display: flex; flex-direction: column; width: 100vw">

    <mat-card class="header-card mat-elevation-z8" style="width: 90%; left:0; right: 0; margin-left:auto; margin-right:auto; margin-top: 3rem; margin-bottom: 3rem;">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 50%">
            <span id="header-container" style="width: 100%;">
                <span class="title">Werner Grobler</span>
                <span class="subtitle">Software Developer</span>
                <span class="sub-detail">DOB: 1993/03/29</span>
            </span>
            <div>
                <div class="avatar-container">
                    <img src="../../assets/Untitled.png" style="width: 100%; height: 100%; border-radius: 50%;">
                </div>
            </div>
        </div>
    </mat-card>
    


    <hr style="border: 1px solid whitesmoke; width: 90vw; box-shadow: 0 0 1px 1px blue;">

    <!-- <div style="margin: 3rem; width: 60%" class="mat-elevation-z8"> -->
        <mat-card class="mat-elevation-z8" style="width: 90%; left:0; right: 0; margin-left:auto; margin-right:auto; margin-top: 3rem; margin-bottom: 3rem;">
            <h1>Background & Profile</h1>

            <p>I am a self-driven and motivated software developer with almost 7 years experience on startup to
                enterprise level applications and systems</p>
            <p>I have been involved in projects spanning multitple industries and several aspects of business</p>
            <span>Some notable industries I have been involved in:
                <ul>
                    <li>Automotive - (Shopfloor systems, Vehicle Logistics and Sales)</li>
                    <li>Mining - (Maintenance and Repairs of Mining Equipment)</li>
                    <li>Security - (Physical Security Management, Surveilance, Reporting)</li>
                </ul>
            </span>
        </mat-card>

    <!-- </div> -->

    <hr style="border: 1px solid whitesmoke; width: 90vw; box-shadow: 0 0 1px 1px blue;">

    <mat-card  class="mat-elevation-z8" style="width: 90%; left:0; right: 0; margin-left:auto; margin-right:auto; margin-top: 3rem; margin-bottom: 3rem;">
        <h1>Programming Languages & Frameworks</h1>

        <div class="cards-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/angular.svg">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">

                            <h1>Angular</h1>
                            <p>6+ Years of experience working with angular on enterprise scale applications</p>
                            <p>I have worked with Angular starting from v4 up to v14</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/nodejsStackedBlack.svg">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">

                            <h1>NodeJS</h1>
                            <p></p>
                            <p>I have extensive experience using NodeJS as backend framework for several projects</p>
                            <p>This is my preferred framework for API development as it is easy to set up but has
                                extensive
                                functionality</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/C_Sharp_Logo_2023.svg.png">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">

                            <h1>C#</h1>
                            <p></p>
                            <p>I have 3 years of enterprise level experience coding in C#</p>
                            <p>I enjoy the extensive frameworks and libraries available for C# development as I used C#
                                to
                                develop several third party integration drivers</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/NET_Core_Logo.svg.png">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">

                            <h1>.NET & .NET Core</h1>
                            <p>Along with coding in C#, I have experience working with some of the latest .NET Core
                                frameworks and technologies</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </mat-card>

    <hr style="border: 1px solid whitesmoke; width: 90vw; box-shadow: 0 0 1px 1px blue;">

    <mat-card class="mat-elevation-z8" style="width: 90%; left:0; right: 0; margin-left:auto; margin-right:auto; margin-top: 3rem; margin-bottom: 3rem;">
        <h1>Some Notable Employers/Clients I have worked with</h1>

        <div class="cards-container">

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/SymbioticsLogo.png">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">
                            <h1>Symbiotics Application Services</h1>
                            <label>Duration: 2 years</label>
                            <p></p>
                            <p>Key Responsibilities:</p>
                            <ul>
                                <li>Front-End Developer
                                    <ul>
                                        <li>Design</li>
                                        <li>Develop</li>
                                        <li>Deploy</li>
                                        <li>Maintain</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Tech Stack:</p>
                            <ul>
                                <li>Angular 4+</li>
                                <li>AWS CloudFront</li>
                                <li>AWS CloudFormation</li>
                                <li>AWS S3</li>
                                <li>AWS EC2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/BMW_logo_(gray).svg.png">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">
                            <h1>BMW Group</h1>
                            <label>Duration: 3 Years</label>
                            <p>Key Responsibilities:</p>
                            <ul>
                                <li>DevOps Developer
                                    <ul>
                                        <li>Design</li>
                                        <li>Develop</li>
                                        <li>Deploy</li>
                                        <li>Maintain</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Tech Stack:</p>
                            <ul>
                                <li>Angular 11</li>
                                <li>Docker</li>
                                <li>Python</li>
                                <li>Bash</li>
                                <li>WSL</li>
                                <li>Red Hat Openshift (Deployments for containers)</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/ethele-logos.png">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">
                            <h1>e-thele SQD Networks</h1>
                            <label>Duration: 3 years</label>
                            <p></p>
                            <p>Key Responsibilities:</p>
                            <ul>
                                <li>Full-Stack Developer
                                    <ul>
                                        <li>Design</li>
                                        <li>Develop</li>
                                        <li>Deploy</li>
                                        <li>Maintain</li>
                                        <li>Support</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Tech Stack:</p>
                            <ul>
                                <li>Angular 13+</li>
                                <li>C#</li>
                                <li>.NET CORE</li>
                                <li>NodeJS</li>
                                <li>MongoDB</li>
                                <li>MySQL</li>
                                <li>MSSQL</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="flip-card-image" src="../../assets/prok-logo.png">
                    </div>
                    <div class="flip-card-back">
                        <div style="margin: 4px;">
                            <h1>PROK/IROM</h1>
                            <label>Duration: 6 months (Freelance Project)</label>
                            <p>Key Responsibilities:</p>
                            <ul>
                                <li>Full-Stack Developer
                                    <ul>
                                        <li>Design</li>
                                        <li>Develop</li>
                                        <li>Deploy</li>
                                        <li>Maintain</li>
                                        <li>Support</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Tech Stack:</p>
                            <ul>
                                <li>Angular 14</li>
                                <li>NodeJS</li>
                                <li>MongoDB</li>
                                <li>AWS Amplify</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </mat-card>

    <hr style="border: 1px solid whitesmoke; width: 90vw; box-shadow: 0 0 1px 1px blue;">

    <mat-card class="mat-elevation-z8" style="width: 90%; left:0; right: 0; margin-left:auto; margin-right:auto; margin-top: 3rem; margin-bottom: 3rem;">
        <h1>Contact Me</h1>
        <div style="display: flex; flex-direction: column;">
            <label><mat-icon>email</mat-icon> <a href="mailto: wernergrobler123456@gmail.com">wernergrobler123456@gmail.com</a></label>
            <label><mat-icon>phone</mat-icon> <a href="tel: +27796695914">+27796695914</a></label>
            <label><img src="../../assets/linkedin.png" style="width: 24px;"><a href="https://www.linkedin.com/in/werner-grobler-600b1279" target="_blank">www.linkedin.com/in/werner-grobler-600b1279</a></label>
        </div>
    </mat-card>
        
</div>